// app global css in SCSS form

body {
  background-color: $bg-color;
}

body * {
  font-size: large;

  @media (max-width: $tablet) {
    font-size: medium;
  }
  @media (max-width: $mobile) {
    font-size: small;
  }
}

.text-caption {
  font-size: small;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 4rem;
}
h2 {
  font-size: 1.8rem;
  line-height: 3.6rem;
}
h3 {
  font-size: 1.6rem;
  line-height: 3.2rem;
}
h4 {
  font-size: 1.4rem;
  line-height: 2.8rem;
}
h5 {
  font-size: 1.2rem;
  line-height: 2.4rem;
}
h6 {
  font-size: 1rem;
  line-height: 2rem;
}

.q-spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: $primary;
}

.button {
  padding: 1.4rem;
  @media (max-width: $mobile) {
    padding: 1rem;
  }
  @media (max-width: $tablet) {
    padding: 1.2rem;
  }
}

.medium-dialog {
  width: 50%;

  @media (max-width: $mobile) {
    width: 100%;
  }
  @media (max-width: $tablet) {
    width: 80%;
  }
}
